<%- include('../../compartido/cabecera')%>
<div class="container">

    <%if(datos.mensaje){%>
        <div class="alert alert-success" role="alert">
            <%= datos.mensaje%>
        </div>
    <%}%>

    <%if(datos.error){%>
        <div class="alert alert-danger" role="alert">
            <%= datos.error%>
        </div>
    <%}%>

    <a href="/parque/ruta/crear-parque">
        <button type="button"
                class="btn btn-primary">
            Crear parque
        </button>
    </a>

    <form action="/parque/ruta/mostrar-parques"
          method="get"
    >
        <div class="form-group">
            <label for="buscarID">
                Buscar Usuario
            </label>
            <input id="buscarID"
                   type="text"
                   name="consultarParque"
                   placeholder="Ej: La Carolina o Quito o 198217"
                   title="Ingresar la busqueda por nombre, ciudad o codigo postal"
                   class="form-control">
            <small id="nombreIDHelp"
                   class="form-text text-muted">
                Puede buscar por nombre, ciudad o codigo postal
            </small>
        </div>
    </form>

    <%- include('../componentes/tabla_parque',
    {
     parques:datos.parques
    }
    )%>
</div>
<%- include('../../compartido/pie-de-pagina')%>
